<div class="mf-close-up-wall">
</div>
<button type="button" id="mf-exit-close-up" class="close" aria-label="Close" (click)="exitCloseUp()">
  <span aria-hidden="true">&times;</span>
</button>
<div class="mf-close-up-img">
  <mf-carousel class="mf-carousel" [viewMode]="carouselMode" [pointer]="requestedItemIndex"
               (fewItemsLeft)="getMoreData()" (currentItem)="updateCurrentItemIndex($event)">
    <div class="mf-carousel-item" *ngFor="let item of sources; let i = index">
      <mf-carousel-item [display]="i === requestedItemIndex">
        <mf-arts-item>
          <div class="carousel-content-wrapper">
            <img [src]="item.path" alt="Card image cap" class="img-fluid" mfFitImage>
          </div>
        </mf-arts-item>
      </mf-carousel-item>
    </div>
  </mf-carousel>
</div>

