<div id="mf-log-in">
  <form [formGroup]="signInForm" (submit)="submit()" novalidate>
    <div class="form-group">
      <input type="text"
             [ngClass]="{'form-control': true, 'is-invalid': !emailIsValid}" formControlName="email" placeholder="Email">
      <div class="invalid-feedback">
        Please provide a valid email.
      </div>
    </div>
    <fieldset formGroupName="password">
      <div class="form-group">
        <input type="password"
               [ngClass]="{'form-control': true, 'is-invalid': !passwordValid}" formControlName="password" placeholder="Password">
        <div class="invalid-feedback">
          Should contain at least 8 characters.
        </div>
      </div>
      <div class="form-group">
        <input type="password"
               [ngClass]="{'form-control': true, 'is-invalid': !verifyPasswordValid}" formControlName="validatePassword" placeholder="Validate Password">
        <div class="invalid-feedback">
          Invalid.
        </div>
      </div>
    </fieldset>
    <div class="float-left">
      <button type="submit" class="btn btn-secondary">Sign Up!</button>
    </div>
  </form>
</div>
