$usersFormHeight: 370px;
$usersFormWidth: 300px;

.mf-header-title {
  display: block;
  font-size: 1.5em;
}

.mf-header {
  background: white;

  .mf-users-menu {
    position: relative;
    display: block;
    text-align: right;

    .mf-users-menu-button {
      display: inline-block;
      padding: 0 8px;
      &:hover {
        cursor: pointer;
      }
    }

    .mf-users-form-container {
      position: absolute;
      top: 35px;
      right: -10px;
      border: 1px solid lightgray;
      border-radius: 3px;
      box-shadow: 0 0 3px lightgrey;
      background: whitesmoke;
      color: grey;
      z-index: 10;

      #mf-users-form {
        animation: show-mf-nav 0.3s;
      }
    }

    .mf-display-form {
      height: $usersFormHeight;
      width: $usersFormWidth;
      animation: show-users-form 0.6s;
    }

    .mf-nav {
      clear: both;
    }
  }

}

@keyframes show-mf-nav {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes show-users-form {
  0%   {width: 0; height: 2px;}
  50%  {width: $usersFormWidth; height: 2px;}
  100% {width: $usersFormWidth; height: $usersFormHeight;}
}
