<div class="mf-header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand mf-title" [routerLink]="[drawings]">
        The art works of<span class="mf-header-title">Michael Friedman</span>
      </a>
      <div>
        <div class="mf-users-menu">
          <div class="mf-users-menu-button" (click)="toggleUsersForm()">
            <fa-icon [icon]="faUser"></fa-icon>
          </div>
          <div [ngClass]="{'mf-users-form-container':true,
                           'mf-display-form': usersFormDisplayed,
                           'mf-hide-form': usersFormHidden}">
            <div id="mf-users-form">
              <mf-users *ngIf="usersFormDisplayed"></mf-users>
            </div>
          </div>
        </div>
        <div [ngClass]="{'mf-nav':true}">
          <mf-nav></mf-nav>
        </div>
      </div>
    </div>
  </nav>
  <hr />
</div>
