<div class="mf-header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand mf-title" [routerLink]="[drawings]">
        The art works of<span class="mf-header-title">Michael Friedman</span>
      </a>
      <div>
        <div class="mf-users-menu">
          <div class="mf-users-menu-button">
            <a class="nav-item nav-link" href="users"><fa-icon [icon]="faUser"></fa-icon></a>
          </div>
        </div>
        <div class="mf-nav">
          <mf-nav></mf-nav>
        </div>
      </div>
    </div>
  </nav>
  <hr />
</div>
