<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse mf-main-nav" id="navbarNavAltMarkup">
  <div class="navbar-nav">
    <a class="nav-item nav-link" [routerLink]="[drawings]" [routerLinkActive]="['active']">Drawings</a>
    <a class="nav-item nav-link" [routerLink]="[sculptures]" [routerLinkActive]="['active']">Sculptures</a>
    <a class="nav-item nav-link" [routerLink]="[calligraphy]" [routerLinkActive]="['active']">Calligraphy</a>
    <a class="nav-item nav-link" [routerLink]="['about']" [routerLinkActive]="['active']">About</a>
  </div>
</div>
