#mf-users-container {
  .mf-form-select-btn {
    text-transform: uppercase;
    letter-spacing: 0.15em;
  }
  .mf-col {
    text-align: center;
    padding: 30px 5px 5px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    &:after {
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: grey;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    &:hover:after {
      width: 100%;
      left: 0;
    }
  }
  .mf-selected-form {
    margin: 15px 10px;
  }
}
