#mf-users-container {
  .container {
    //background: yellow;
  }
  .mf-col {
    //background: green;
    text-align: center;
    //letter-spacing: 0.15em;
    padding: 15px 20px;
    position: relative;
    //text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    &:after {
      //background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: black;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    &:hover:after {
      width: 100%;
      left: 0;
    }
  }
}
