#progress-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

#arts-grid {
  .mfArtWorkThumbnailContainer {
    box-shadow: 0 0 0 3px white;
    overflow: hidden;
    border-radius: 3px;
    transition: transform .2s;
    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }  
}