<div class="container mf-arts-grid">
  <div id="arts-grid" class="row" (click)="showDetails($event)">
    <div *ngFor="let col of grid" class="col-3">
      <div *ngFor="let source of col" class="mb-4 mfArtWorkThumbnailContainer">
        <div class="mf-arts-item" @showHide *ngIf="source.show">
          <mf-arts-item>
            <img [id]="source.id" [src]="source.path" class="img-fluid mfArtWorkThumbnail" alt="Card image cap"
                 (onload)="onImageLoaded()">
          </mf-arts-item>
        </div>
      </div>
    </div>
  </div>
</div>
